#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# ──────────────────────────────────────────────────────────────────────────────
#
#  Copyright (c) 2020-2025 Emanuele Ballarin <emanuele@ballarin.cc>
#  Released under the terms of the MIT License
#  (see: https://url.ballarin.cc/mitlicense)
#
# ──────────────────────────────────────────────────────────────────────────────
#
# SPDX-License-Identifier: MIT
#
# ──────────────────────────────────────────────────────────────────────────────

advertorch>=0.2.3  # pip install git+https://github.com/BorealisAI/advertorch.git
distributed>=2025.9.1
httpx>=0.28.1
idna>=3.10  # Transitive
matplotlib>=3.10.6
medmnist>=3.0.2
numpy>=2.3.3
pillow>=11.3
PyYAML>=6.0.3
requests>=2.32.5
safe_assert>=0.5
safetensors>=0.6.2
setuptools>=80.9
thrmt>=0.0.15
torch>=2.8
torch-lr-finder>=0.2.2
torchattacks>=3.5.1
torchvision>=0.23
tqdm>=4.67.1
urllib3>=2.5  # Transitive
